.background{
    background-image: url("../assets/background.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.loginpage{
    height: 100vh;
    color: white;
}

.login-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10%;

}

.login-input{
    width: 45vh;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: rgba(71, 71, 71, 0.904);
    border-radius: 10px;
    box-shadow: 0px 10px 40px #00000056;
}

.login-input label{
    display: flex;
    padding: 3px;
}

.login-input-item input{
    padding: 8px;
    border: none;
    width: 300px;
    border-radius: 5px;
}

.login-input-item{
    padding: 25px;
}

.loginBtn{
    padding: 13px;
    margin-right: 110px;
    color: white;
    background-color: #414040;
    border-radius: 5px;
    border: none;
    box-shadow: 1px 1px 5px black;
    cursor: pointer;
}

.loginBtn:hover{
    transition: 10ms;
    transform: translateY(-1px);
}

.esquecisenha{
    font-size: x-small;
    cursor: pointer;
    margin-top: 5px;
}

.esquecisenhaBtn{
display: flex;
justify-content: end;
}

.esquecisenha:hover{
    color: #00008b;
}

.registerBtn{
    border: none;
    background: none;
    color: white;
    cursor: pointer;
}